body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7b1b36;
}

.header {
  background-color: #61022b;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  height: 50px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex: 1;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #cc005a;
}

.signup-container {
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container img {
  width: 100px;
  height: auto;
  margin-bottom: 0px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #8f193a;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 13px;
}

button:hover {
  background-color: #d75a84;
}

.divider {
  text-align: center;
  margin: 20px;
  font-size: 0.9rem;
  color: #62071c;
  position: relative;
}

.divider span::before,
.divider span::after {
  content: "";
  display: inline-block;
  width: 40%;
  height: 0.5px;
  background-color: #62071c;
  vertical-align: middle;
  margin: 0 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

label {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.dob {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.gender-options {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 0;
  font-size: 13px;
}

.gender-options label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

p {
  font-size: 10px;
  color: #777;
}

.site-footer {
  width: 100%;
  background: #61022b;
  margin-top: 60px;
}

.footer-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
}
