body {
    font-family: Arial, sans-serif;
    display: center;
    background-color: #62071c;
    margin: 0;
  }

.navigation {
background-color: rgb(98, 6, 43);
  padding: 20px;
  width: 600px;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}